#td_companion_300x250 {
	display: flex;
	justify-content: center;
	position: fixed;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2147483647;

	&:has(*)::before {
		content: "Advertisement";
		position: absolute;
		top: -16px;
		left: 50%;
		transform: translateX(-50%);
		background: rgba(0, 0, 0, 0.5);
		color: white;
		font-weight: 700;
		text-align: center;
		font-size: 10px;
		text-transform: uppercase;
		line-height: 14px;
		height: 14px;
		width: 300px;
	}

	img:hover {
		opacity: 1;
	}

	body:has(#companion-ad320x50 div[data-google-query-id]):not(
			:has(#companion-ad320x50 div div[style*="height: 0px"])
		)
		& {
		margin-bottom: 55px;
	}
}
